<!doctype html>
<html>
    <head>
        <title>Progress</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
    </head>
    <body>
        <div class="container">
            <legend>Progress</legend>
            <div class="row">
                <div class="span12">
                    <ul class="unstyled">
                        {% for g in goals %}
                        <li>
                            <strong>{{ g.name }}</strong>
                            {% if g.hasTargetDate %}({{ g.remaining.days }} days remaining){% endif %}
                            <span class="pull-right">Latest update: {{ g.status }}, target: {{ g.target }}</span>
                            <div class="progress">
                                <div class="bar bar-success" style="width: {{ g.percentage }}%;"></div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
